In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
df = pd.read_csv('airline_passenger_satisfaction.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129880 entries, 0 to 129879
Data columns (total 24 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   ID                                      129880 non-null  int64
 1   Gender                                  129880 non-null  object
 2   Age                                     129880 non-null  int64
 3   Customer Type                           129880 non-null  object
 4   Type of Travel                          129880 non-null  object
 5   Class                                   129880 non-null  object
 6   Flight Distance                         129880 non-null  int64
 7   Departure Delay                         129880 non-null  int64
 8   Arrival Delay                           129487 non-null  float64
 9   Departure and Arrival Time Convenience  129880 non-null  int64
 10  Ease of Online Booking                  129880 non-null  int64
 11  Check-in Service                        129880 non-null  int64
 12  Online Boarding                         129880 non-null  int64
 13  Gate Location                           129880 non-null  int64
 14  On-board Service                        129880 non-null  int64
 15  Seat Comfort                            129880 non-null  int64
 16  Leg Room Service                        129880 non-null  int64
 17  Cleanliness                             129880 non-null  int64
 18  Food and Drink                          129880 non-null  int64
 19  In-flight Service                       129880 non-null  int64
 20  In-flight Wifi Service                  129880 non-null  int64
 21  In-flight Entertainment                 129880 non-null  int64
 22  Baggage Handling                        129880 non-null  int64
 23  Satisfaction                            129880 non-null  object
dtypes: float64(1), int64(18), object(5)
memory usage: 23.8+ MB

In [3]:
df.head()

,ID,Gender,Age,Customer Type,Type of Travel,Class,Flight Distance,Departure Delay,Arrival Delay,Departure and Arrival Time Convenience,...,On-board Service,Seat Comfort,Leg Room Service,Cleanliness,Food and Drink,In-flight Service,In-flight Wifi Service,In-flight Entertainment,Baggage Handling,Satisfaction
0,1,Male,48,First-time,Business,Business,821,2,5.0,3,...,3,5,2,5,5,5,3,5,5,Neutral or Dissatisfied
1,2,Female,35,Returning,Business,Business,821,26,39.0,2,...,5,4,5,5,3,5,2,5,5,Satisfied
2,3,Male,41,Returning,Business,Business,853,0,0.0,4,...,3,5,3,5,5,3,4,3,3,Satisfied
3,4,Male,50,Returning,Business,Business,1905,0,0.0,2,...,5,5,5,4,4,5,2,5,5,Satisfied
4,5,Female,49,Returning,Business,Business,3470,0,1.0,3,...,3,4,4,5,4,3,3,3,3,Satisfied

In [4]:
from sklearn.model_selection import train_test_split as tts

In [5]:
replace_dict = {"Satisfied": 1, 'Neutral or Dissatisfied': 0}

In [6]:
df_copy = df.copy()
df_copy['Satisfaction'] = df_copy['Satisfaction'].replace(replace_dict)

/var/folders/0p/3b6s1cyd2glf9kj66m2vt2gm0000gn/T/ipykernel_2030/2946990702.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_copy['Satisfaction'] = df_copy['Satisfaction'].replace(replace_dict)

In [7]:
df_copy.head(20)

,ID,Gender,Age,Customer Type,Type of Travel,Class,Flight Distance,Departure Delay,Arrival Delay,Departure and Arrival Time Convenience,...,On-board Service,Seat Comfort,Leg Room Service,Cleanliness,Food and Drink,In-flight Service,In-flight Wifi Service,In-flight Entertainment,Baggage Handling,Satisfaction
0,1,Male,48,First-time,Business,Business,821,2,5.0,3,...,3,5,2,5,5,5,3,5,5,0
1,2,Female,35,Returning,Business,Business,821,26,39.0,2,...,5,4,5,5,3,5,2,5,5,1
2,3,Male,41,Returning,Business,Business,853,0,0.0,4,...,3,5,3,5,5,3,4,3,3,1
3,4,Male,50,Returning,Business,Business,1905,0,0.0,2,...,5,5,5,4,4,5,2,5,5,1
4,5,Female,49,Returning,Business,Business,3470,0,1.0,3,...,3,4,4,5,4,3,3,3,3,1
5,6,Male,43,Returning,Business,Business,3788,0,0.0,4,...,4,4,4,3,3,4,4,4,4,1
6,7,Male,43,Returning,Business,Business,1963,0,0.0,3,...,5,5,5,4,5,5,3,5,5,1
7,8,Female,60,Returning,Business,Business,853,0,3.0,3,...,3,4,4,4,4,3,4,3,3,1
8,9,Male,50,Returning,Business,Business,2607,0,0.0,1,...,4,3,4,3,3,4,4,4,4,0
9,10,Female,38,Returning,Business,Business,2822,13,0.0,2,...,5,4,5,4,2,5,2,5,5,1
10,11,Female,28,First-time,Business,Business,821,0,5.0,1,...,2,2,5,2,2,4,1,2,3,0
11,12,Female,27,First-time,Business,Business,421,20,21.0,2,...,2,2,5,1,1,3,1,1,4,0
12,13,Male,24,First-time,Business,Economy,453,16,30.0,2,...,2,5,4,5,5,4,2,5,4,0
13,14,Male,9,Returning,Personal,Business,853,68,76.0,5,...,4,5,3,5,5,5,1,5,4,0
14,15,Male,52,Returning,Personal,Economy,853,0,0.0,4,...,3,2,3,2,2,5,2,2,5,0
15,16,Male,70,Returning,Personal,Economy,821,0,0.0,5,...,4,5,2,5,5,5,2,5,4,0
16,17,Female,48,Returning,Personal,Economy,821,0,0.0,3,...,5,1,2,2,1,5,2,5,5,0
17,18,Female,61,Returning,Personal,Economy,821,0,0.0,5,...,5,5,2,1,4,5,2,5,5,0
18,19,Female,11,Returning,Personal,Economy,853,0,0.0,5,...,3,5,2,5,5,5,3,5,4,0
19,20,Female,42,Returning,Personal,Economy,821,4,0.0,3,...,1,4,3,3,1,1,3,1,1,0

In [8]:
# Set up the style
plt.style.use("seaborn-v0_8-whitegrid")
sns.set_palette("husl")

# Create a figure with subplots for multiple visualizations
plt.figure(figsize=(20, 12))

# 1. Check class distribution (target variable)
plt.subplot(2, 3, 1)
sns.countplot(data=df, x='Satisfaction')
plt.title('Distribution of Satisfaction')
plt.xticks(rotation=45)

# 2. Age distribution by satisfaction
plt.subplot(2, 3, 2)
sns.boxplot(data=df, x='Satisfaction', y='Age')
plt.title('Age Distribution by Satisfaction')
plt.xticks(rotation=45)

# 3. Flight Distance distribution
plt.subplot(2, 3, 3)
sns.histplot(data=df, x='Flight Distance', bins=30)
plt.title('Distribution of Flight Distance')

# 4. Customer Type and Class breakdown
plt.subplot(2, 3, 4)
sns.countplot(data=df, x='Customer Type', hue='Class')
plt.title('Customer Type by Class')
plt.xticks(rotation=45)

# 5. Gender distribution by satisfaction
plt.subplot(2, 3, 5)
sns.countplot(data=df, x='Gender', hue='Satisfaction')
plt.title('Gender Distribution by Satisfaction')

plt.tight_layout()
plt.show()

# Correlation analysis for numeric columns
numeric_cols = df.select_dtypes(include=[np.number]).columns
plt.figure(figsize=(12, 8))
sns.heatmap(df[numeric_cols].corr(), annot=True, cmap='coolwarm', center=0)
plt.title('Correlation Matrix of Numeric Features')
plt.tight_layout()
plt.show()

# Basic statistics
print("\nBasic Statistics:")
print(df.describe())

# Missing values check
print("\nMissing Values:")
print(df.isnull().sum())

# Unique values in categorical columns
categorical_cols = df.select_dtypes(include=['object']).columns
print("\nUnique Values in Categorical Columns:")
for col in categorical_cols:
    print(f"\n{col}:")
    print(df[col].value_counts())

OSError: 'seaborn' is not a valid package style, path of style file, URL of style file, or library style name (library styles are listed in `style.available`)

In [5]:
X, X_test, y_train, y_test = tts(df.drop(['ID', 'Satisfaction'], axis = 1), df['Satisfaction'])

In [6]:
y_train

5007      Neutral or Dissatisfied
97614                   Satisfied
66304                   Satisfied
114013    Neutral or Dissatisfied
4750                    Satisfied
                   ...
92841     Neutral or Dissatisfied
75581     Neutral or Dissatisfied
55277     Neutral or Dissatisfied
96876     Neutral or Dissatisfied
126457    Neutral or Dissatisfied
Name: Satisfaction, Length: 97410, dtype: object

In [7]:
y_train.unique()

array(['Neutral or Dissatisfied', 'Satisfied'], dtype=object)

In [8]:
replace_dict = {"Satisfied": 1, "Neutal or Dissastified": 0}