In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('airline_passenger_satisfaction.csv')
df.info

<bound method DataFrame.info of             ID  Gender  Age Customer Type Type of Travel         Class  \
0            1    Male   48    First-time       Business      Business
1            2  Female   35     Returning       Business      Business
2            3    Male   41     Returning       Business      Business
3            4    Male   50     Returning       Business      Business
4            5  Female   49     Returning       Business      Business
...        ...     ...  ...           ...            ...           ...
129875  129876    Male   28     Returning       Personal  Economy Plus
129876  129877    Male   41     Returning       Personal  Economy Plus
129877  129878    Male   42     Returning       Personal  Economy Plus
129878  129879    Male   50     Returning       Personal  Economy Plus
129879  129880  Female   20     Returning       Personal  Economy Plus

        Flight Distance  Departure Delay  Arrival Delay  \
0                   821                2            5.0
1                   821               26           39.0
2                   853                0            0.0
3                  1905                0            0.0
4                  3470                0            1.0
...                 ...              ...            ...
129875              447                2            3.0
129876              308                0            0.0
129877              337                6           14.0
129878              337               31           22.0
129879              337                0            0.0

        Departure and Arrival Time Convenience  ...  On-board Service  \
0                                            3  ...                 3
1                                            2  ...                 5
2                                            4  ...                 3
3                                            2  ...                 5
4                                            3  ...                 3
...                                        ...  ...               ...
129875                                       4  ...                 5
129876                                       5  ...                 5
129877                                       5  ...                 3
129878                                       4  ...                 4
129879                                       1  ...                 4

        Seat Comfort  Leg Room Service  Cleanliness  Food and Drink  \
0                  5                 2            5               5
1                  4                 5            5               3
2                  5                 3            5               5
3                  5                 5            4               4
4                  4                 4            5               4
...              ...               ...          ...             ...
129875             1                 4            4               4
129876             2                 5            2               2
129877             3                 4            3               3
129878             4                 5            3               3
129879             2                 4            2               2

        In-flight Service  In-flight Wifi Service  In-flight Entertainment  \
0                       5                       3                        5
1                       5                       2                        5
2                       3                       4                        3
3                       5                       2                        5
4                       3                       3                        3
...                   ...                     ...                      ...
129875                  5                       4                        4
129876                  4                       3                        2
129877                  4                       2                        3
129878                  4                       5                        3
129879                  2                       3                        2

        Baggage Handling             Satisfaction
0                      5  Neutral or Dissatisfied
1                      5                Satisfied
2                      3                Satisfied
3                      5                Satisfied
4                      3                Satisfied
...                  ...                      ...
129875                 4  Neutral or Dissatisfied
129876                 5  Neutral or Dissatisfied
129877                 5  Neutral or Dissatisfied
129878                 5                Satisfied
129879                 1  Neutral or Dissatisfied

[129880 rows x 24 columns]>

In [4]:
df.head()

,ID,Gender,Age,Customer Type,Type of Travel,Class,Flight Distance,Departure Delay,Arrival Delay,Departure and Arrival Time Convenience,...,On-board Service,Seat Comfort,Leg Room Service,Cleanliness,Food and Drink,In-flight Service,In-flight Wifi Service,In-flight Entertainment,Baggage Handling,Satisfaction
0,1,Male,48,First-time,Business,Business,821,2,5.0,3,...,3,5,2,5,5,5,3,5,5,Neutral or Dissatisfied
1,2,Female,35,Returning,Business,Business,821,26,39.0,2,...,5,4,5,5,3,5,2,5,5,Satisfied
2,3,Male,41,Returning,Business,Business,853,0,0.0,4,...,3,5,3,5,5,3,4,3,3,Satisfied
3,4,Male,50,Returning,Business,Business,1905,0,0.0,2,...,5,5,5,4,4,5,2,5,5,Satisfied
4,5,Female,49,Returning,Business,Business,3470,0,1.0,3,...,3,4,4,5,4,3,3,3,3,Satisfied

In [3]:
from sklearn.model_selection import train_test_split as tts

In [7]:
X, X_test, y_train, y_test = tts(df.drop(['ID', 'Satisfaction'], axis = 1), df['Satisfaction'])

In [9]:
y_train

28006                  Satisfied
33611                  Satisfied
74902                  Satisfied
87051    Neutral or Dissatisfied
28904                  Satisfied
                  ...
31994    Neutral or Dissatisfied
8656                   Satisfied
96283    Neutral or Dissatisfied
605      Neutral or Dissatisfied
55766                  Satisfied
Name: Satisfaction, Length: 97410, dtype: object

In [11]:
y_train.unique()

array(['Satisfied', 'Neutral or Dissatisfied'], dtype=object)

In [12]:
replace_dict = {"Satisfied": 1, "Neutal or Dissastified": 0}